<section class="pb-4 my-4" data-component-root="contact">
    <div class="container-lg">

      <div class="pt-5 rounded-5" style="background-color: #28775A;">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-4">
              <h2 class="mt-5 text-white">Canal de Atendimento</h2>
              <p class=" text-white">Entre em contato conosco diretamente no nosso whatsapp. Estamos prontinho para
                atende-lo</p>
              <div class="d-flex gap-2 flex-wrap mb-5">
                <a href="https://wa.me/5511999999999" class="btn btn-primary text-uppercase fs-6 rounded-pill px-4 py-3 mt-3">Fala Agora!</a>
              </div>
            </div>
            <div class="col-md-5 text-center">
              <img style="height: 500px;" src="images/phone-whatsapp.png" alt="phone" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>