<!-- Modelo do modal -->
<div id="modal-default" class="modal fade" data-component-root="modal" tabindex="-1" role="dialog" aria-labelledby="modal-default-label"
    aria-hidden="true">
    <div id="modal-default-content" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modal-body" style="overflow-y: auto;">
                    <div data-component="skeleton"></div>
                </div>
                <div id="modal-footer" class="modal-footer d-flex justify-content-between align-items-center"> 
                    <div data-component="skeleton"></div>
                </div>
            </div>
        </div>
    </div>
</div>