<section class="py-5 overflow-hidden" data-component-root="packages">
    <div class="container-lg">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header d-flex flex-wrap justify-content-between mb-5">
            <h2 class="section-title">Pacotes de Passeios</h2>
            <div class="d-flex align-items-center">
              <div class="swiper-buttons">
                <button class="swiper-prev category-carousel-prev btn btn-yellow">❮</button>
                <button class="swiper-next category-carousel-next btn btn-yellow">❯</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- package -->
      <div class="row">
        <div class="col-md-12">
          <div class="category-carousel swiper">
            <div id="package-item" class="swiper-wrapper">
              <!-- package item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
