<section class=" overflow-hidden" data-component-root="steps">
    <div class="">
      <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-3 g-0 justify-content-center">
        <div class="col">
          <div class="card border-0 bg-primary rounded-0 h-100 p-4 text-light">
            <div class="row">
              <div class="col-md-3 text-center">
                <svg width="60" height="60">
                  <use xlink:href="#fresh"></use>
                </svg>
              </div>
              <div class="col-md-9">
                <div class="card-body p-0">
                  <h5 class="text-light">Alto Ciclo de Passeios</h5>
                  <p class="card-text">Oferecemos uma variedade de passeios disponíveis em toda a região.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 bg-primary rounded-0 h-100 p-4 text-light">
            <div class="row">
              <div class="col-md-3 text-center">
                <svg width="60" height="60">
                  <use xlink:href="#organic"></use>
                </svg>
              </div>
              <div class="col-md-9">
                <div class="card-body p-0">
                  <h5 class="text-light">100% Paisagens Naturais</h5>
                  <p class="card-text">Exploramos paisagens deslumbrantes e bem preservadas.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 bg-primary rounded-0 h-100 p-4 text-light">
            <div class="row">
              <div class="col-md-3 text-center">
                <svg width="60" height="60">
                  <use xlink:href="#car"></use>
                </svg>
              </div>
              <div class="col-md-9">
                <div class="card-body p-0">
                  <h5 class="text-light">Transfer 24h</h5>
                  <p class="card-text">Oferecemos uma ampla variedade de veículos para serviços de transfer.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>